#main.login-panel
  #formbox-login.formbox
    .title ScrumTrak Log In
      //h1 ScrumTrak Log In
      span
    #formbox-login-tips.tips
      h4 Don't have an account?
      a(href='signup') Sign up now!
      h4 Did you forget your password?
      a(href='credentialrecover') Recover it here.
    form#form-login.login-form(method='POST')
      fieldset
        input#form-login-validation(name='validation', type='hidden')
        ol
          li
            label(for='form-login-username') User name
            input#form-login-username.text(maxlength='255', name='username', size='25', type='text')
            .vError Please enter your user name
          li
            label(for='form-login-password') Password
            input#form-login-password.text(maxlength='16', name='password', size='25', type='password')
            .vError Please enter your password
          li#remember_me
            input#form-login-remember.checkbox(autocomplete='off', defaultvalue='T', name='remember', type='checkbox')
            label(for='form-login-remember') Remember my user name on this computer
          li#login_in
            input.submit(type='submit', value='Log In')
    .clear-float
script(type='text/javascript', src='/javascripts/app/login.js')
