link(rel="stylesheet/less", type="text/css", href="/stylesheets/login.less")
.row
  .span6.offset3
    .row
      .span4
        form(method='POST')
          fieldset
            legend WFL Log In
            .space1
            label(for='form-login-username') Email address
            input#form-login-username(maxlength='255', name='username', size='25', type='text', required, placeholder='Enter your email address')
            label(for='form-login-password') Password
            input#form-login-password(maxlength='16', name='password', size='25', type='password', required, placeholder='Enter your password')
            label.checkbox
              input(type='checkbox')
              | Remember my user name on this computer
            .message!= partial('../messages') 
            button.btn.btn-primary(type='submit') Log In
      .span2
        .row.space3
        .row
          .span2 Don't have an account?
            a(href='/account/add')
              button.btn.btn-info Sign Up
        .row.space1      
        .row
          .span Forget your password?
            a(href='/account/recover')
              button.btn.btn-info Recover it             
        
script(type='text/javascript', src='/js/login.js')
