#profile-main
  #personal-info
    #player-picture
      img(src='../../images/player.jpg', maxheight=100, maxwidth= 100)
    #player-name!= profile.nickname
    #player-record Record #{profile.win || 0}-#{profile.loss || 0}
    #player-rank Rank ##{profile.rank || 'N/A'}
  #personal-wall
