- if ((typeof profile !== 'undefined') && (typeof user !== 'undefined') && (profile._id == user._id))
  - if (typeof profile.team !== 'undefined' && profile.team && profile.team._id)
    - if (profile.team.members && (!profile.team.members.length || profile.team.members.length <= 1))
      .todo-nomate
        | You don't have a teammate
        .buttons
          button#recruitbtn Recruit
      #todo-nomate-recruit.dialog(title='Find your teammate', userid='#{profile._id}', teamid='#{profile.team._id}')
        .title Available players
          span
        #player-list
  script(type='text/javascript', src='/javascripts/profile/todorecruit.js')
  link(rel='stylesheet', href='/stylesheets/players.css')
