| Team 
a( href="/team/#{teamid}")= teamname
|  challenged 
a( href="/profile/#{playerid}")= playername
- if (typeof matchtype != 'undefined')
  - if (matchtype == '1')
    |  in one game
  - else if (matchtype == '99')
    |  in a death match
  - else if (matchtype)
    |  in a best of #{matchtype} games  
- if (typeof matchmsg != 'undefined')
  - if (matchmsg)
    |  with a message #{matchmsg}
