!!!
html
  head
    title #{title}
    link(rel='stylesheet', href='/javascripts/ext/resources/css/ext-all.css')    
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/ext/ext-all-debug.js')
  body
    .masterpage
      .masterpage-header
        .masterpage-header-title 
          a(href='/') W . I . F . E
        .masterpage-header-subtitle Wheels IT Foosball Event
        - if (typeof user !== "undefined")
          - var firstName = user.firstname || ''
          - var lastName = user.lastname || ''
          - var fullName = firstName && lastName ? firstName + ' ' + lastName : firstName ? lastName : lastName ? firstName : user.username
          .masterpage-header-user Welcome,&nbsp; 
            a(href='profile')= fullName
          .masterpage-header-menu
            .menu-item.menu-item-last
              a(href='/logout') Logout
            .separator              
            .menu-item
              a(href='/schedule') Schedule
            .separator              
            .menu-item
              a(href='/standing') Standing
            .separator              
            .menu-item
              a(href='/team') Teams
            .separator              
            .menu-item.menu-item-first
              a(href='/player') Players
        - else 
          .masterpage-header-user &nbsp;
          .masterpage-header-menu
            .menu-item
              a(href='/account/login') Login   
            .separator         
            .menu-item
              a(href='/account/signup') Sign Up
        .clear-float
      .masterpage-body
        != body
