link(rel="stylesheet/less", type="text/css", href="/stylesheets/team.less")
.row
  .span10.offset1
    != partial('team', teams)
#team-challenge-dlg.modal.hide.fade
  .modal-header
    a.close(data-dismiss='modal') x
    h3 Foos off!
  .modal-body
    .row
      .span2      
        img(src='/images/challenge.jpg')
      .span4.challenge-form
        form#team-challenge-form
          label(for='#challenge-msg') Challenge message:
          textarea#challenge-msg(name='challengemsg', cols=40, rows=2)
          br
          label Match type:
          label.radio
            input(type='radio', name='matchtype', value='1')
            | One game
          label.radio
            input(type='radio', name='matchtype', value='3') 
            | Best of 3
          label.radio
            input(type='radio', name='matchtype', value='5') 
            | Best of 5
          label.radio
            input(type='radio', name='matchtype', value='99') 
            | Death match!
          .alert-container
  .modal-footer
    a.btn.btn-primary.pull-right Challenge!
    a.btn.pull-left(data-toggle='modal', data-target='#team-challenge-dlg') Cancel
#team-challenge-sent-dlg.modal.hide
  .modal-header
    a.close(data-dismiss='modal') x
    h4 Challenge
  .modal-body
    p Challenge sent!
  .modal-footer
    a.btn.btn-success.pull-right(data-toggle='modal', data-target='#team-challenge-sent-dlg') OK
    a.btn.btn-primary.pull-right(data-toggle='modal', data-target='#team-challenge-sent-dlg') Publish it
#team-joining-dlg.modal.hide
  .modal-header
    a.close(data-dismiss='modal') x
    h4 Joining request
  .modal-body
    p Request sent!
  .modal-footer
    a.btn.btn-primary.pull-right(data-toggle='modal', data-target='#team-joining-dlg') OK
      
script(type='text/javascript', src='/js/team.js')
