.intro-text {
  background-color : #BCFFC0;
	border-width : 2px;
	border-color : #00D865;
	border-style : solid;
	padding : 20px;
	top : 100px;
	left : 100px;
	position: relative;
	width : 400px;
	height : 100px;
	font-size : 24pt;
	color : #007BD0;
	font-weight : bold;
	-webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.nuffstuff {
  font-size : 26pt;
}

.kickfoos {
  font-size : 20pt;
  text-align: right;
  color: #FF28DE;
}

.signup-box {
  background-color : #C8E2FF;
	border-width : 1px;
	border-color : #84AEFF;
	border-style : solid;
	font-size : 14pt;
	color : #00607C;
	font-weight : bold;
	-webkit-border-radius: 3px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.signup-box a {
  text-decoration: none;
  color: inherit;
}

.rules-panel {
  width: 600px;
  height: 845px;
  margin: 50px auto 0 auto;
  background-image: url('/images/rulesbg.jpg');
  background-position: top letft;
  background-repeat: no-repeat; 
}

.rules-header {
  display: block;
  font-family: cursive;
  width: 100%;
  text-align: center;
  padding: 40px 0px 0px 0px;  
}

.rules-body {
  font-family: cursive;
  font-size: 12px;
}

.news-row {
  margin-top: 30px;
}

.news-title {
  font-size: 1.5em;
  padding: 5px;  
}
