#player-picture img {
  max-height: 250px;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#player-picture-change {
  margin-top: 3px;
  margin-bottom: 3px;
}

#player-picture-change a {
  cursor: pointer;
}

#profile-main {
  padding: 10px;
}

#personal-info {
  width: 250px;
  float: left;
}

.player-nickname {
  color : #00406C;
	font-size : 2.2em;
	font-weight : bold;
	font-variant : small-caps;
	line-height : 120%;
	text-align : left;
	text-decoration : none;
	display : block;
	margin-bottom: 5px;
}

#personal-wall {
  margin-left: 20px;
  border-left: solid 1px #aaaaaa;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 500px;
  float: left;
}

#personal-wall {
  width: 467px;
}

#personal-info ol {
  list-style-type: none;
  -webkit-padding-start: 0;
}

#personal-info ol li {
  display: block;
  margin-top: 3px;
  margin-bottom: 5px;
  clear: both;
}

.personal-info-item {
  font-size: 14px;
}

.personal-info-item-label {
  float: left;
}

.personal-info-item-value {
  float: right;
}

.todo-section {
  float: right;
  border-left: solid 1px #aaaaaa;
  min-height: 500px;
  padding-left: 10px;
  padding-right: 10px;
  width: 200px;
  font-size: 12px;
}

.todo-section div {
  margin-bottom: 5px;
}

.todo-noteam {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #C6FFB0;
  border: 1px solid #a2a0FF;
  padding: 5px;
}

.todo-noteam button, .todo-nomate button {
  width: 100%;
}

.todo-noteam-text {
  /*line-height: 200%;&*/
}

.todo-nomate {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #C6FFB0;
  border: 1px solid #a2a0FF;
  padding: 5px;
}

#teamname a {
  text-decoration: none;
}

.new-post {
  width: 100%;
}

.new-post form label {
  display: block;
}

.new-post form label {
  display: block;
}

.new-post form post-text {
  width: 100%;
}

.post-panel {
  border: 1px solid #dddddd;
  margin: 10px 0 5px 0;
  padding: 5px;
}

.post-panel .post-item {
  float: left;
}

.poster-picture {
  width: 20px;
}

.poster-picture img {
  max-height: 20px;
  max-width: 20px;
}

.poster-name, .post-comment {
  margin-left: 10px;
}
