#player-picture img {
  max-height: 250px;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#player-picture-change {
  margin-top: 3px;
  margin-bottom: 3px;
}

#player-picture-change a {
  cursor: pointer;
}

#profile-main {
  padding: 10px;
}

#personal-info {
  width: 250px;
  float: left;
}

.player-nickname {
  color : #222222;
	font-size : 1.8em;
	font-weight : bold;
	font-variant : small-caps;
	line-height : 120%;
	text-align : left;
	text-decoration : none;
	display : block;
	margin-bottom: 5px;
}

#personal-wall {
  margin-left: 20px;
  float: left;
}
