#player-picture img {
  max-height: 250px;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#player-picture-change {
  margin-top: 3px;
  margin-bottom: 3px;
}

#player-picture-change a {
  cursor: pointer;
}

#profile-main {
  padding: 10px;
}

#personal-info {
  width: 250px;
  float: left;
}

.player-nickname {
  color : #00406C;
	font-size : 2.2em;
	font-weight : bold;
	font-variant : small-caps;
	line-height : 120%;
	text-align : left;
	text-decoration : none;
	display : block;
	margin-bottom: 5px;
}

#personal-wall {
  margin-left: 20px;
  border-left: solid 1px #aaaaaa;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 500px;
  float: left;
}

#personal-wall {
  width: 467px;
}

#personal-info ol {
  list-style-type: none;
  -webkit-padding-start: 0;
}

#personal-info ol li {
  display: block;
  margin-top: 3px;
  margin-bottom: 5px;
  clear: both;
}

.personal-info-item {
  font-size: 14px;
}

.personal-info-item-label {
  float: left;
}

.personal-info-item-value {
  float: right;
}

.todo-section {
  float: right;
  border-left: solid 1px #aaaaaa;
  min-height: 500px;
  padding-left: 10px;
  padding-right: 10px;
  width: 200px;
  font-size: 12px;
}

.todo-section div {
  margin-bottom: 5px;
}

.todo-noteam, .todo-invite, .todo-nomate, .team-challenge {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #E1E7E3;  /*#C6FFB0;*/
  border: 1px solid #a2a0FF;
  padding: 5px;
}


.todo-noteam, .todo-invite, .todo-nomate, .team-challenge {
  font:bold 14px Tahoma, Geneva, sans-serif;
  font-style:normal;
  color:#ffffff;
  background:#1568db;
  border:0px solid #ffffff;
  text-shadow:0px -1px 1px #222222;
  box-shadow:2px 2px 5px #000000;
  -moz-box-shadow:2px 2px 5px #000000;
  -webkit-box-shadow:2px 2px 5px #000000;
  border-radius:10px 10px 10px 10px;
  -moz-border-radius:10px 10px 10px 10px;
  -webkit-border-radius:10px 10px 10px 10px;
  padding:20px;
  margin:0 auto;
}

.todo-noteam a, .todo-invite a, .todo-nomate a, .team-challenge a {
  color: #fff200;
  text-decoration: none;
}

.todo-noteam {
  background:#db4e15;
  
}

.todo-nomate, .todo-invite {
  background:#5bdb15
}

.team-challenged {
  background-color: #db1515;  /*#C6FFB0;*/
}

.todo-noteam button, .todo-nomate button, .todo-invite button, .team-challenge button {
  width: 100%;
  margin-bottom: 3px;
}

.todo-noteam-text {
  /*line-height: 200%;&*/
}

#teamname a {
  text-decoration: none;
}

.new-post {
  width: 100%;
}

.new-post form label {
  display: block;
}

.new-post form label {
  display: block;
}

.new-post form post-text {
  width: 100%;
}

.post-panel {
  border: 1px solid #dddddd;
  margin: 10px 0 5px 0;
  padding: 15px 5px 15px 5px;
}

.post-item {
  margin-bottom: 3px;
}

.poster-picture {
  float: left;
  margin-right: 10px;
}

.poster-picture img {
  max-height: 40px;
  max-width: 40px;
}

.postmark {
  color: #bbbbbb;
}

.poster-name, .post-comment {
  margin-left: 10px;
}


.match-update-panel {
  font:bold 14px Tahoma, Geneva, sans-serif;
  font-style:normal;
  color:#ffffff;
  background:#1568db;
  border:0px solid #ffffff;
  text-shadow:0px -1px 1px #222222;
  box-shadow:2px 2px 5px #000000;
  -moz-box-shadow:2px 2px 5px #000000;
  -webkit-box-shadow:2px 2px 5px #000000;
  border-radius:10px 10px 10px 10px;
  -moz-border-radius:10px 10px 10px 10px;
  -webkit-border-radius:10px 10px 10px 10px;
  padding:20px;
  margin:0 auto;
}

.match-update-panel:active{
  position:relative;
  top:2px;
}

.match-update-panel a {
  color: #fff200;
  text-decoration: none;
}

.match-update-panel button {
  width: 100%;
  margin-bottom: 3px;
}
