.teamcreate-formpanel, .teamcreate-logo {
  float: left;
}

.teamcreate-formpanel {
  width: 250px;
  margin-top: -25px;
}

.teamcreate-logo {
  width: 100px;
}

.teamcreate-logo img {
  max-height: 100px;
  max-width: 100px;  
}

.team-info {
  margin-bottom: 10px;
  border: 1px solid #B9B9B9;
  background-color: #f0f0f0;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.team-detail {
  width: 
}

.team-picture, .team-detail {
  float: left;
}

.team-record {
  float: right;
  padding-top: 5px;
}

.team-picture img {
  max-height: 50px;
  max-width: 50px;
}

.team-name {
  color : #00406C;
	font-size : 2em;
	font-weight : bold;
	font-variant : small-caps;
	line-height : 90%;
	text-align : left;
	text-decoration : none;
	display : block;
	margin-bottom: 5px;
}

.team-name, .team-creator {
  margin-left: 10px;
}

.dialog .title {
  padding: 5px 0 10px 0;
  font-size: 2em;
  font-weight: bold;
}

a.team-join-button {  
  cursor: pointer;
  color: #005DC8;
  padding: 3px 10px 3px 10px;  
  border: 1px solid #B9B9B9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;  
}

a.team-join-button:link {
}

a.team-join-button:visited {
}

a.team-join-button:hover {
  background-color: #e0e0e0;
}

.dialog .dialog-body {
  padding: 10px;
  font-size: 12px;
}

.dialog-body img {
  max-height: 50px;
  float: left;
  margin-right: 20px;
}

.dialog-body div {
}
