- if (firstInCollection)
  .item.active
    img(src='#{highlight.pictureurl}')
    .carousel-caption 
      p= highlight.caption
- else
  .item
    img(src='#{highlight.pictureurl}')
    .carousel-caption
      p= highlight.caption
