link(rel="stylesheet/less", type="text/css", href="/stylesheets/home.less")
.row
.row
  .span9.nuffstuff Are you up to snuff?  Let's kick some foos!
.row
.row.news-row
  .span2
    .btn-info.news-title League news
  .span10
    ul#league-news      
script(type='text/javascript', src='/js/home.js')
