link(rel="stylesheet/less", type="text/css", href="/stylesheets/home.less")
.row
  .span8.offset2
    h1 Are you up to snuff?  Let's kick some foos!
.row.space1
.row
  .span5.offset2
    span.label.label-info League Top Stories
    .hightlight-section
      - if ((typeof highlights !== 'undefined') && highlights && highlights.length)
        #leaguehightlights.carousel
          .carousel-inner
            != partial('highlight', highlights)
          a.carousel-control.left( href="#leaguehightlights", data-slide="prev") &lsaquo;
          a.carousel-control.right( href="#leaguehightlights", data-slide="next") &rsaquo;
  .span3    
    span.label.label-info League News
    .news-section
      - if ((typeof news !== 'undefined') && news)
        != partial('newsitem', news)
//
  .row.news-row
    .span2
      .btn-info.news-title League news
    .span10
      ul#league-news      
script(type='text/javascript', src='/js/home.js')
