link(rel='stylesheet', href='/stylesheets/home.css')
.row
.row
  .span9.nuffstuff Are you up to snuff?  Let's kick some foos!
.row
.row.news-row
  .span2.offset1
    .btn-info.news-title League news:
  .span8
    ul#league-news
      li
        span News #1
      li
        span News #2
      li
        span News #3
script
  $(function() {
    $('ul#league-news').liScroll();
  });
