.rules-panel
  .rules-header
    h1 WFL Rules
  .rules-body
    ol
      li You do not talk about WFL.
      li You DO NOT talk about WFL.
      li Shirt and shoes are optional.
link(rel='stylesheet', href='/stylesheets/home.css')
